# Data Science Tools and Ecosystem

In this notebook, we present a simplified overview of the Data Science Tools and Ecosystem, breaking down complex concepts into easily understandable terms.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools                                      |
|---------------------------------------------------------|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
result = (3 * 4) + 5
result

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**
- Extracting insights from data
- Developing predictive models
- Improving data quality and reliability

## Author
Nandana Suresh